.ia16-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.ia16-ia16 {
  width: 100%;
  height: 736px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.ia16-image4 {
  top: 210px;
  left: 1px;
  width: 417px;
  height: 313px;
  position: absolute;
  border-radius: 21px;
}
.ia16-group5 {
  top: 381px;
  left: 257px;
  width: 19px;
  height: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.ia16-ellipse58 {
  top: 0px;
  left: 0px;
  width: 19px;
  height: 20px;
  position: absolute;
  border-color: rgba(255, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.ia16-text {
  top: 1px;
  left: 5px;
  color: rgba(255, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ia16-line204 {
  top: 4px;
  left: 3px;
  width: 18px;
  height: 1px;
  position: absolute;
}
.ia16-group3 {
  top: 0px;
  left: 0px;
  width: 19px;
  height: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.ia16-ellipse581 {
  top: 0px;
  left: 0px;
  width: 19px;
  height: 20px;
  position: absolute;
  border-color: rgba(255, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.ia16-text01 {
  top: 1px;
  left: 5px;
  color: rgba(255, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ia16-line2041 {
  top: 4px;
  left: 3px;
  width: 18px;
  height: 1px;
  position: absolute;
}
.ia16-image13 {
  top: 74px;
  left: 0px;
  width: 186px;
  height: 126px;
  position: absolute;
}
.ia16-text02 {
  top: 69px;
  left: 198px;
  color: rgba(0, 0, 0, 1);
  width: 224px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Regular;
  text-align: center;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ia16-text04 {
  top: 119px;
  left: 195px;
  color: rgba(0, 0, 0, 1);
  width: 224px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Regular;
  text-align: center;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ia16-text06 {
  top: 103px;
  left: 235px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ia16-line107 {
  top: 251px;
  left: 311px;
  width: 16px;
  height: 1px;
  position: absolute;
}
.ia16-line110 {
  top: 261px;
  left: 323px;
  width: 4px;
  height: 1px;
  position: absolute;
}
.ia16-line113 {
  top: 250px;
  left: 312px;
  width: 4px;
  height: 1px;
  position: absolute;
}
.ia16-line122 {
  top: 252px;
  left: 308px;
  width: 18px;
  height: 1px;
  position: absolute;
}
.ia16-line130 {
  top: 260px;
  left: 328px;
  width: 24px;
  height: 1px;
  position: absolute;
}
.ia16-line131 {
  top: 260px;
  left: 328px;
  width: 11px;
  height: 1px;
  position: absolute;
}
.ia16-line132 {
  top: 268px;
  left: 321px;
  width: 23px;
  height: 1px;
  position: absolute;
}
.ia16-line135 {
  top: 282px;
  left: 339px;
  width: 11px;
  height: 1px;
  position: absolute;
}
.ia16-line137 {
  top: 389px;
  left: 395px;
  width: 11px;
  height: 1px;
  position: absolute;
}
.ia16-line139 {
  top: 388px;
  left: 395px;
  width: 7px;
  height: 1px;
  position: absolute;
}
.ia16-line141 {
  top: 394px;
  left: 391px;
  width: 11px;
  height: 1px;
  position: absolute;
}
.ia16-line142 {
  top: 395px;
  left: 404px;
  width: 7px;
  height: 1px;
  position: absolute;
}
.ia16-line145 {
  top: 228px;
  left: 169px;
  width: 24px;
  height: 1px;
  position: absolute;
}
.ia16-line146 {
  top: 234px;
  left: 192px;
  width: 39px;
  height: 1px;
  position: absolute;
}
.ia16-line149 {
  top: 228px;
  left: 169px;
  width: 13px;
  height: 1px;
  position: absolute;
}
.ia16-line150 {
  top: 241px;
  left: 166px;
  width: 3px;
  height: 1px;
  position: absolute;
}
.ia16-line151 {
  top: 242px;
  left: 168px;
  width: 14px;
  height: 1px;
  position: absolute;
}
.ia16-line153 {
  top: 255px;
  left: 165px;
  width: 4px;
  height: 1px;
  position: absolute;
}
.ia16-line154 {
  top: 257px;
  left: 162px;
  width: 15px;
  height: 1px;
  position: absolute;
}
.ia16-line156 {
  top: 271px;
  left: 158px;
  width: 9px;
  height: 1px;
  position: absolute;
}
.ia16-line158 {
  top: 219px;
  left: 134px;
  width: 12px;
  height: 1px;
  position: absolute;
}
.ia16-line160 {
  top: 231px;
  left: 132px;
  width: 4px;
  height: 1px;
  position: absolute;
}
.ia16-line161 {
  top: 234px;
  left: 133px;
  width: 29px;
  height: 1px;
  position: absolute;
}
.ia16-line162 {
  top: 262px;
  left: 129px;
  width: 71px;
  height: 1px;
  position: absolute;
}
.ia16-line163 {
  top: 210px;
  left: 36px;
  width: 45px;
  height: 1px;
  position: absolute;
}
.ia16-line164 {
  top: 432px;
  left: 308px;
  width: 13px;
  height: 1px;
  position: absolute;
}
.ia16-line166 {
  top: 219px;
  left: 135px;
  width: 37px;
  height: 1px;
  position: absolute;
}
.ia16-line167 {
  top: 432px;
  left: 308px;
  width: 11px;
  height: 1px;
  position: absolute;
}
.ia16-line170 {
  top: 421px;
  left: 308px;
  width: 5px;
  height: 1px;
  position: absolute;
}
.ia16-line171 {
  top: 419px;
  left: 304px;
  width: 11px;
  height: 1px;
  position: absolute;
}
.ia16-line1561 {
  top: 301px;
  left: 259px;
  width: 11px;
  height: 1px;
  position: absolute;
}
.ia16-line157 {
  top: 309px;
  left: 252px;
  width: 42px;
  height: 1px;
  position: absolute;
}
.ia16-line1581 {
  top: 349px;
  left: 249px;
  width: 6px;
  height: 1px;
  position: absolute;
}
.ia16-line159 {
  top: 354px;
  left: 249px;
  width: 8px;
  height: 1px;
  position: absolute;
}
.ia16-line1601 {
  top: 360px;
  left: 243px;
  width: 7px;
  height: 1px;
  position: absolute;
}
.ia16-line1611 {
  top: 360px;
  left: 236px;
  width: 5px;
  height: 1px;
  position: absolute;
}
.ia16-line1621 {
  top: 364px;
  left: 236px;
  width: 8px;
  height: 1px;
  position: absolute;
}
.ia16-line1631 {
  top: 365px;
  left: 228px;
  width: 39px;
  height: 1px;
  position: absolute;
}
.ia16-line1641 {
  top: 404px;
  left: 228px;
  width: 9px;
  height: 1px;
  position: absolute;
}
.ia16-line165 {
  top: 402px;
  left: 236px;
  width: 18px;
  height: 1px;
  position: absolute;
}
.ia16-line1661 {
  top: 420px;
  left: 237px;
  width: 8px;
  height: 1px;
  position: absolute;
}
.ia16-line1671 {
  top: 420px;
  left: 244px;
  width: 8px;
  height: 1px;
  position: absolute;
}
.ia16-line168 {
  top: 428px;
  left: 244px;
  width: 23px;
  height: 1px;
  position: absolute;
}
.ia16-line169 {
  top: 427px;
  left: 266px;
  width: 15px;
  height: 1px;
  position: absolute;
}
.ia16-line1701 {
  top: 301px;
  left: 259px;
  width: 14px;
  height: 1px;
  position: absolute;
}
.ia16-line1711 {
  top: 308px;
  left: 270px;
  width: 20px;
  height: 1px;
  position: absolute;
}
.ia16-line172 {
  top: 324px;
  left: 282px;
  width: 14px;
  height: 1px;
  position: absolute;
}
.ia16-line173 {
  top: 334px;
  left: 273px;
  width: 11px;
  height: 1px;
  position: absolute;
}
.ia16-line174 {
  top: 334px;
  left: 262px;
  width: 7px;
  height: 1px;
  position: absolute;
}
.ia16-line175 {
  top: 340px;
  left: 258px;
  width: 8px;
  height: 1px;
  position: absolute;
}
.ia16-line176 {
  top: 348px;
  left: 258px;
  width: 22px;
  height: 1px;
  position: absolute;
}
.ia16-line177 {
  top: 362px;
  left: 275px;
  width: 6px;
  height: 1px;
  position: absolute;
}
.ia16-line179 {
  top: 368px;
  left: 277px;
  width: 24px;
  height: 1px;
  position: absolute;
}
.ia16-line180 {
  top: 366px;
  left: 300px;
  width: 41px;
  height: 1px;
  position: absolute;
}
.ia16-line181 {
  top: 407px;
  left: 300px;
  width: 3px;
  height: 1px;
  position: absolute;
}
.ia16-group31 {
  top: 223px;
  left: 95px;
  width: 19px;
  height: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.ia16-ellipse582 {
  top: 0px;
  left: 0px;
  width: 19px;
  height: 20px;
  position: absolute;
  border-color: rgba(255, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.ia16-text11 {
  top: 1px;
  left: 5px;
  color: rgba(255, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ia16-line2042 {
  top: 4px;
  left: 3px;
  width: 18px;
  height: 1px;
  position: absolute;
}
.ia16-group4 {
  top: 239px;
  left: 167px;
  width: 19px;
  height: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.ia16-ellipse583 {
  top: 0px;
  left: 0px;
  width: 19px;
  height: 20px;
  position: absolute;
  border-color: rgba(255, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.ia16-text12 {
  top: 1px;
  left: 5px;
  color: rgba(255, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ia16-line2043 {
  top: 4px;
  left: 3px;
  width: 18px;
  height: 1px;
  position: absolute;
}
.ia16-group32 {
  top: 0px;
  left: 0px;
  width: 19px;
  height: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.ia16-ellipse584 {
  top: 0px;
  left: 0px;
  width: 19px;
  height: 20px;
  position: absolute;
  border-color: rgba(255, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.ia16-text13 {
  top: 1px;
  left: 5px;
  color: rgba(255, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ia16-line2044 {
  top: 4px;
  left: 3px;
  width: 18px;
  height: 1px;
  position: absolute;
}
.ia16-rectangle16 {
  top: 642px;
  left: 19px;
  width: 376px;
  height: 67px;
  position: absolute;
  border-radius: 10px;
}
.ia16-rectangle37 {
  top: 574px;
  left: 19px;
  width: 376px;
  height: 67px;
  position: absolute;
  border-radius: 10px;
}
.ia16-text14 {
  top: 660px;
  left: 37px;
  color: rgba(0, 0, 0, 1);
  width: 340px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: center;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ia16-text16 {
  top: 592px;
  left: 37px;
  color: rgba(0, 0, 0, 1);
  width: 340px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: center;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ia16-sedan {
  top: 233px;
  left: 36px;
  width: 29px;
  height: 29px;
  position: absolute;
}
.ia16-rectangle35 {
  top: 523px;
  left: 19px;
  width: 376px;
  height: 50px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.ia16-rectangle36 {
  top: 523px;
  left: 19px;
  width: 139px;
  height: 50px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}
.ia16-localgasstation {
  top: 528px;
  left: 187px;
  width: 40px;
  height: 40px;
  position: absolute;
}
.ia16-group15 {
  top: 155px;
  left: 209px;
  width: 94px;
  height: 48px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(166, 205, 78, 1);
}
.ia16-vector {
  top: 5px;
  left: 7px;
  width: 38px;
  height: 38px;
  position: absolute;
}
.ia16-open-lock {
  top: 5px;
  left: 50px;
  width: 38px;
  height: 38px;
  position: absolute;
}
.ia16-rectangle19 {
  top: 155px;
  left: 334px;
  width: 48px;
  height: 48px;
  position: absolute;
  border-radius: 10px;
}
.ia16-lock {
  top: 160px;
  left: 339px;
  width: 38px;
  height: 38px;
  position: absolute;
}
